*,
*::after,
*::before {
    box-sizing: border-box;
}

body
{
    background-color: #0D0D0D;
    position: relative;
}
.logo-img
{
    width: 50px;
    height: 50px;
}

.mycard
{
    background-image:url("../imgs/imgi_3_1550441882.jpg") ;
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.mycard .card-body
{
    position: absolute;
    bottom: -100%;
    transition: all .5s ease-in-out;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 244, 246, 0.7);
}
.mycard .card-body h3{
    font-weight: 500;
    font-size: 25.5px;
}
.mycard:hover .card-body
{
     display: flex;
     bottom: 0;
}
.myNavbar
{
    z-index: 1;
    
}
.nav-header
{
    transition: all .5s ease-in-out;
}
.nav-tab
{
    transition: all .5s ease-in-out;
    left: -257px;
}